In [1]:
#Here we are impoting the pandas library

import pandas as pd
import numpy as np

In [2]:
#Step 2. Read drinks.csv and Assign it to a variable called drinks." 

drinks = pd.read_csv("C:\Maths&analysis\drinksfile.csv") # this line read the csv file and stores the data in the drinks var
print(drinks)#it prints the data

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

In [33]:
#Step 3. Which continent drinks more beer on average? "
individual_continent=drinks.groupby('continent').agg({'beer_servings':'mean'})
dt=individual_continent.sort_values(('beer_servings'),ascending = False)
print(dt)

           beer_servings
continent
EU            193.777778
SA            175.083333
OC             89.687500
AF             61.471698
AS             37.045455

In [4]:
#Which continent drinks more beer on average? 
individual_continent=drinks.groupby('continent').agg({'beer_servings':'mean'})
dt=individual_continent.sort_values(('beer_servings'),ascending = False)
dt.max()

beer_servings    193.777778
dtype: float64

In [3]:
# Step 5. Print the mean alcohol consumption per continent for every column" 
individual_group=drinks.groupby('continent').mean()
individual_group

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [9]:
# Step 6. Print the median alcohol consumption per continent for every column
individual_group=drinks.groupby('continent').median()
individual_group

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [12]:
# Step 7. Print the mean, min and max values for spirit consumption.
a=drinks.spirit_servings.mean()
b=drinks.spirit_servings.min()
c=drinks.spirit_servings.max()
print('mean:',a,'min:',b,'max:',c)

mean: 80.99481865284974 min: 0 max: 438